@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center relative">
    <div class="absolute top-0 right-0 p-4">
        <button id="themeToggle" class="btn-theme" title="Đ?i giao di?n">
            <i class="bi bi-sun-fill sun-icon"></i>
            <i class="bi bi-moon-stars-fill moon-icon"></i>
        </button>
    </div>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
